*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
/salamander_base_module/src/main/res/values/com_crashlytics_export_strings.xml
/salamander_base_module/src/main/assets/crashlytics-build.properties
