<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salamander.logger">

    <application>
        <activity android:name="com.salamander.logger.CrashActivity" />
        <service android:name="com.salamander.logger.ReportingService"/>
    </application>

</manifest>