<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salamander.salamander_base_module">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ea91fc10183e2e032403faf5221cf64f258fd34" />
            <provider
                android:authorities="${applicationId}.salamandercontentprovider"
                android:exported="false"
                android:enabled="true"
                android:name=".SalamanderContentProvider" />
    </application>
</manifest>
